<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DaVinci.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DaVinci.Properties.Settings>
            <setting name="SplitterDistance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SplitterWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="SplitterClientSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SplitterLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </DaVinci.Properties.Settings>
    </userSettings>
</configuration>